<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="de" class="com.ashokit.beans.DiselEngine"/>
	<bean id="pe" class="com.ashokit.beans.PetrolEngine"/>
	
	<bean id="car" class="com.ashokit.beans.Car">
	
		<constructor-arg name="eng" ref="pe"></constructor-arg>
	</bean>
</beans>
