<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pwd" 
		   class="com.ashokit.beans.PwdServiceImpl"/> 
	<bean id="dao" 
		  class="com.ashokit.beans.UserDaoServiceImpl"/>
	<bean id="email" 
		  class="com.ashokit.beans.EmailServiceImpl"/> 
	
	
	<bean id="user" 
		  class="com.ashokit.beans.UserService" autowire="constructor">
	</bean>  
    
</beans>
